<html>
    <head>
        <title>Django Girls: Christa's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Christa's Blog</a></h1>
        </div>

        <div>
            <p>published: 08.04.2017, 16:07</p>
            <h2><a href="">My first post: Let's talk about Raspberry Pi.</a></h2>
            <p>The Raspberry Pi is a series of small single-board computers developed in the United Kingdom by the Raspberry Pi Foundation to promote the teaching of basic computer science in schools and in developing countries.The original model became far more popular than anticipated,[6] selling outside of its target market for uses such as robotics. Peripherals (including keyboards, mice and cases) are not included with the Raspberry Pi. Some accessories however have been included in several official and unofficial bundles.</p>
        </div>

        <div>
            <p>published: 08.04.2017, 16:13</p>
            <h2><a href="">My second post: Cool stuff about Arduino</a></h2>
            <p>Arduino is an open source, computer hardware and software company, project, and user community that designs and manufactures microcontroller kits for building digital devices and interactive objects that can sense and control objects in the physical world. The project's products are distributed as open-source hardware and software, which are licensed under the GNU Lesser General Public License (LGPL) or the GNU General Public License (GPL),[1] permitting the manufacture of Arduino boards and software distribution by anyone. Arduino boards are available commercially in preassembled form, or as do-it-yourself kits.</p>
        </div>
    </body>
</html>
